{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<section class="container section is-large is-center">
<div class="container" id="form-area" >
    <h1 class="title is-center">Login Page</h1>
<div class="section "  >
<form action="" method="post"  >
   
    <div class="field">
        {% csrf_token %}
        {{form|crispy}}
       <div >
        <button class="button is-primary is-medium is-pulled-right  " type="submit" class="">Login</button>
        </div>
     </div>
</form>
</div>
</div>
</section>
{% endblock %}