{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}




 <div class="container pt-6">
<section class="section is-center ">

<div class="container" id="form-area">    
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
<div class="section">

    <div class="section is-center" id="title_">
        <h1 class="title is-center"   > Register Page</h1>
    </div>

<form action="" method="post">
    
    <div class="field">
        {% csrf_token %}
        {{form|crispy}}
        
        <div class="container">
            <button class="button is-primary is-medium is-pulled-right" type="submit" > <strong>Register</strong></button>
        </div>

     </div>
</form>
</div>
</section>
</div>
{% endblock %}