
section {

    background-color: whitesmoke;
    margin-bottom: 10px;
    border-radius: 1cm;
    justify-content: center;
    color: blueviolet;
}
#title_ {
    
    justify-content: center;
    color: white;


}

